@font-face {
  font-family: "ChiKareGo";
  src: url("schrift/ChiKareGo.ttf") format("truetype");
}

html {
	font-family: ChiKareGo;
	background-color: black;
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	text-align: center;
}

a, p, span {
	cursor: default;
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

#inhalt span {
	font-size: 1.3vw;
}

#inhalt a { 
	font-size: 1.3vw;
}


#inhalt {
	display: none;
    content: " ";
	animation: flicker .005s infinite;
	overflow: auto;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 1vw;
	border-top-left-radius: 1vw;
	width: 90vw;
	height: 70vh;
	background-image: url("icons/background.png");
  	background-repeat: repeat;

}

#navileiste {
	border-top-right-radius: 1vw;
	border-top-left-radius: 1vw;
	border-bottom: 1px solid black;
	background: white;
	height: 2vw;
	top: 0px;
	width: 100%;
	position: relative;
}
				#navileiste img {
					height: auto;
					width: 1.1%;	
				}

				#naviLogo {
					display: inline-block;
					position: fixed;
					left: 6%;
					padding: 0.3vw;

				}

				#datum {
					position: absolute;
					right: 3%;
					margin: 0 0 0 0;
					top: 20%;
					color: black;
					font-size: 1.5vw;
				}

				#timer {
					position: absolute;
					right: 10%;
					margin: 0 0 0 0;
					top: 20%;
					color: black;
					font-size: 1.5vw;
				}

				#dropdown {
					display: none;
					position: absolute;
					background-color: white;
					top: 2.1vw;
					left: 1%;
					border-radius: 5px;
					height: 10vh;
					width: 15vw;
					align-content: left;
					margin-right: 20vw;
					margin-bottom: 20vh;
					box-shadow: 1px 1px 1px black;
				}

				#dropdown p {
					position: absolute;
					font-size: 1.2vw;
					left: -3vw;
					width: 100%;
					top: 2%;
					position: relative;
				}

				#dropdown p:hover {
					text-decoration: underline;
				}

				#neustartNachfrage {
						font-size:1.2vw;
						display: none;
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						position: fixed;
						background-color: white;
						right: 40vw;
						bottom: 52vh;
						width: 20vw;
						height: 15vh;
						overflow: hidden;
				}

				#neustartNachfrage button {
						font-family: ChiKareGo;
					    font-size:1.2vw;
      					width: 15vw;
      					margin: 0 auto;
      					background-color: black;
      					outline: none;
      					border: none;
      					color: white;
      					border-radius: 5px;
				}

				#neustartInhalt {
						width: 15vw;
						margin: 0 auto;
				}
				

				#ausschaltenNachfrage {
						font-size:1.2vw;
						display: none;
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 40vw;
						bottom: 52vh;
						width: 20vw;
						height: 10vh;
						overflow: hidden;
				}

				#ausschaltInhalt {
						width: 15vw;
						margin: 0 auto;
				}




#browserHeader {
	border-bottom: 1px solid black;
	background: url("icons/browser_back.png") 0 50% repeat-x;
	height: 2vw;
	position: relative;
}

					a {
						font-size: 1em;
						text-decoration: inherit;
						color: black;
						padding: 0.1em 0.5em 0.1em 0.5em;
						background-color: white;
						position: absolute;
					  	top: 50%;
					  	-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

					span {
						color: black;
						font-size: 1em;
						padding: 0.1em 1em 0.1em 1em;
						background-color: white;
						position: absolute;
					  	top: 50%;
					  	left: 39%;
					  	-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

					#block {
						position: absolute;
						top: 50%;
						right: 0%;
						padding: 1em 0.2em 0.025em 1em;
						background-color: white;
						-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

#ordnerName {
	position: relative;
	background-color: white;
	margin: 1 1 1.5em 1;
	left: 0;
}

.ordnereins {
	position: fixed;
  	bottom: 60vh;
  	right: 45vw;
}

.ordnereins img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#einsoeffnen {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 50vw;
						bottom: 50vh;
						width: 40vw;
						height: 30vh;
					}

					#einsoeffnen img {
						width: auto;
						height: 4vw;
						margin-bottom: 0.2em;
					}

					#foto {
						position: absolute;
						left: 5%;
						bottom: 5%;
					}

					#readMe {
						position: absolute;
						right: 40%;
						top: 20%;
					}

					#einsClose, #zweiClose, #zweipunkteinsClose {
						position: absolute;
						left: 0px;
					}

					#fotooeffnen {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: absolute;
						background-color: white;
						left: 35vw;
						top: 30vh;
						width: 35vw;
						height: 35vh;
					}

					#fotooeffnen a {
						left: 0;
					}

					#alphabet {
						max-width: auto;
						height: 25vh;
					}

					#informationeins {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: absolute;
						background-color: white;
						left: 7vw;
						bottom: 25vh;
						width: 30vw;
						height: 25vh;
					}

					#informationeins a {
						left: 0;
					}

					#informationeins span {
						left: 30%;
					}

					#readMePhoto {
						max-width: 15vw;
						height: auto;
					}

.ordnerzwei {
	position: fixed;
	bottom: 60vh;
	right: 20vw;
}

.ordnerzwei img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#passwordzwei {
						color: black;
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						box-shadow: 1px 1px 1px black;
						display: none; 
						position: fixed;
						width: 30vw;
						height: 15vh;
						right: 40vw;
						bottom: 52vh;
						overflow: hidden;
						background-color: white;


						
					}

					#partitioned {
						width: 18vw;
						max-width: 100%;
						border: 0;
						outline: none;
				  		position: sticky;
				  		padding-left: 2.5vw;
				  		font-size: 2vw;
						letter-spacing: 2.05em;
						background-image: linear-gradient(to left, black 50%, rgba(255, 255, 255, 0) 0%);
						background-position: bottom;
						background-size: 5vw 1px;
						background-repeat: repeat-x;
						background-position-x: 4vw;

					}

						#textdatei {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						position: fixed;
						background-color: white;
						right: 30vw;
						bottom: 40vh;
						width: 40vw;
						height: 20vh;
					}

						#textHinweis {
						padding: 2vw 2vw 2vw 2vw;
					}


.google {
	position: fixed;
  	bottom: 40vh;
  	right: 15vw;
}

.google img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#googleBrowser {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 50vw;
						bottom: 50vh;
						width: 40vw;
						height: 30vh;
					}

					#googleBrowser a {
						left: 0;
					}

					#suche {
						position: absolute;
						top: 20%;
						left: 20%;
						display: block;
						width: 20vw;
					}

					#banner img {
						position: absolute;
						top: 21.5%;
						left: 5%;
						width: 5vw;
						height: auto;
					}

					#leet {
						display: none;
						position: absolute;
						background-color: none;
						text-align: left;
						top: 40%;
						right: 1%;
						width: 40vw;
						height: 30vh;
						padding-left: 5vw;
					}

					#leet p {
						margin: 0px 0px 0px 0px;
					}

					#googleTop {
						font-size: 1vw;
						padding-left: 2.5vw;
					}

					#googleLink {
						padding-left: 2.5vw;
					}

					#googleBeschreibung {
						font-size: 1.2vw;
						padding-left: 2.5vw;
						width: 70%;
					}

					#falsch {
						position: absolute;
						text-align: left;
						display: none;
						background-color: none;
						top: 35%;
						right: 1%;
						width: 40vw;
						height: 30vh;
						padding-left: 5vw;
					}

					#falsch p {
						font-size: 1.2vw;
						padding-left: 2.5vw;
					}

					#falsch h2 {
						font-size: 2vw;
						padding-left: 2.5vw;
					}

					#cicada {
						position: absolute;
						text-align: left;
						display: none;
						background-color: none;
						top: 35%;
						right: 1%;
						width: 40vw;
						height: 30vh;
						padding-left: 5vw;
					}

					#cicada p {
						font-size: 1.2vw;
						padding-left: 2.5vw;
					}

					#cicada h2 {
						font-size: 2vw;
						padding-left: 2.5vw;
					}

					#drei {
						position: absolute;
						text-align: left;
						display: none;
						background-color: none;
						top: 35%;
						right: 1%;
						width: 40vw;
						height: 30vh;
						padding-left: 5vw;
					}

					#drei p {
						font-size: 1.2vw;
						padding-left: 2.5vw;
					}

					#drei h2 {
						font-size: 2vw;
						padding-left: 2.5vw;
					}

					#suche {
						outline: none;
						font-family: ChiKareGo;
						font-size: 0.9em;
					}

.chat {
	position: fixed;
  	bottom: 20vh;
  	right: 15vw;
}

.chat img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#chatbox a {
						left: 0;
					}

					#chatbox {
						font-size: 1.3vw;
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						width: 20vw;
						height: 40vh;
						bottom: 30vh;
				  		right: 40vw;
				  		text-align: left;
					}



					#userBox {
						position: fixed;
						bottom: 30%;
						width: 20vw;
						height: 3vh;
						font-family: ChiKareGo;
						color: white;
						font-size: 1em;
						justify-content: center;
						background-color: black;
						outline: none;
						border: 0;
						border-radius: 5px;
					}


					#chatInhalt {
						overflow-y: scroll;
						position: absolute;
						padding-left: 1vw ;
						padding-right: 1vw;
						height: 90%;
					}

.deactivate {
	position: fixed;
  	bottom: 20vh;
  	right: 75vw;
}

.deactivate img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#passwordDeaktivieren a {
						left: 0;
					}

					#passwordDeaktivieren {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 40vw;
						bottom: 52vh;
						width: 250px;
						height: 100px;
					}


.notePad {
	position: fixed;
  	bottom: 20vh;
	right: 45vw;
}

.notePad img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

					#noteGeoeffnet {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 8vw;
						bottom: 20vh;
						width: 20vw;
						height: 20vh;
						font-size: 1.1vw;
						overflow: hidden;
					}

					#noteGeoeffnet a {
						left: 0;
					}


					#noteGeoeffnet textarea {
						padding-top: 5%;
						font-family: ChiKareGo;
						font-size: 1.2em;
						width: 90%;
						height: 75%;
						border: none;
						outline: none;
						resize: none;
						background-color: none;

					}

					#noteGeoeffnet span {
						left: 30%;
					}


@keyframes flicker {
    0% {
        opacity:.92
    }

    5% {
        opacity:.92
    }

    10% {
        opacity:.94
    }

    15% {
        opacity:.90
    }

    20% {
        opacity:.80
    }

    25% {
        opacity:.98
    }

    30% {
        opacity:.93
    }

    35% {
        opacity:.92

    }

    40% {
        opacity:.90
    }

    45% {
        opacity:.94
    }

    50% {
        opacity:.92
    }

    55% {
        opacity:.91
    }

    60% {
        opacity:.92
    }

    65% {
        opacity:.93
    }

    70% {
        opacity:.99
    }

    75% {
        opacity:.98
    }

    80% {
        opacity:.91
    }

    85% {
        opacity:.91
    }

    90% {
        opacity:.97
    }

    95% {
        opacity:.99
    }

    100% {
        opacity:.99
    }
}

					#inhalt::after {
						animation: flicker .15s infinite;
					    content: " ";
					    display: none;
					    position: absolute;
					    top: 0;
					    left: 0;
					    bottom: 0;
					    right: 0;
					    background: rgba(18, 16, 16, .08);
					    opacity: 0;
					    z-index: 10;
					    pointer-events:none
					}

@keyframes bootingScreen { 
	100% { opacity: 1; }
}
#bootScreen p {
	animation: bootingScreen .5s forwards;
}
#bootScreen p:nth-child(1) {
	animation-delay: .5s;
}
#bootScreen p:nth-child(2) {
	animation-delay: 1s;
}
#bootScreen p:nth-child(3) {
	animation-delay: 1.5s;
}
#bootScreen p:nth-child(4) {
	animation-delay: 3s;
}
#bootScreen p:nth-child(5) {
	animation-delay: 3s;
}
#bootScreen p:nth-child(6) {
	animation-delay: 3s;
}
#bootScreen p:nth-child(7) {
	animation-delay: 3.2s;
}
#bootScreen p:nth-child(8) {
	animation-delay: 5s;
}
#bootScreen p:nth-child(9) {
	animation-delay: 5.2s;
}
#bootScreen p:nth-child(10) {
	animation-delay: 7s;
}
#bootScreen p:nth-child(11) {
	animation-delay: 7.4s;
}
#bootScreen p:nth-child(12) {
	animation-delay: 11s;
}
#bootScreen p:nth-child(13) {
	animation-delay: 11.2s;
}
#bootScreen p:nth-child(14) {
	animation-delay: 14s;
}
#bootScreen p:nth-child(15) {
	animation-delay: 15s;
}
#bootScreen p:nth-child(16) {
	animation-delay: 17s;
}
#bootScreen p:nth-child(17) {
	animation-delay: 17.2s;
}
#bootScreen p:nth-child(18) {
	animation-delay: 17.3s;
}
#bootScreen #pseudoDiv {
	animation-delay: 17.3s;
}

					#bootScreen {
						display: block;
					    content: "";
					    background-color: #171717;
						animation: flicker .005s infinite;
						overflow: auto;
						border-bottom-right-radius: 25px;
						border-bottom-left-radius: 25px;
						border-top-right-radius: 1vw;
						border-top-left-radius: 1vw;
						width: 90vw;
						height: 70vh;

					}

					#bootScreen p {
						line-height: 4px;   
					  	margin-bottom: 5px; 
						font-size: 1.5vw;
						text-align: left;
						color: white;
						opacity: 0;
					}

					#bootScreen::after {
						animation: bootingScreen;
						animation-iteration-count: 1;
					}

					#bootText {
						position: absolute;
						top: 23%;
						left: 15%;
					}


@keyframes errorScreen { 
	100% { opacity: 1; }
}
#errorScreen p {
	animation: bootingScreen .5s forwards;
}
#errorScreen p:nth-child(1) {
	animation-delay: 3s;
}
#errorScreen p:nth-child(2) {
	animation-delay: 3.2s;
}
#errorScreen p:nth-child(3) {
	animation-delay: 5s;
}
#errorScreen p:nth-child(4) {
	animation-delay: 5.2s;
}
#errorScreen p:nth-child(5) {
	animation-delay: 7s;
}
#errorScreen p:nth-child(6) {
	animation-delay: 7.2s;
}


					#errorScreen {
						display: none;
					    content: "";
					    background-color: #171717;
						animation: flicker .005s infinite;
						overflow: auto;
						border-bottom-right-radius: 25px;
						border-bottom-left-radius: 25px;
						border-top-right-radius: 1vw;
						border-top-left-radius: 1vw;
						width: 90vw;
						height: 70vh;

					}

					#errorScreen p {
						line-height: 4px;   
					  	margin-bottom: 5px; 
						font-size: 1.5vw;
						text-align: left;
						color: white;
						opacity: 0;
					}

					#errorScreen::before {
						animation: fadeIn("slow");
					}

					#errorScreen::after {

						animation: errorScreen;
						animation-iteration-count: 1;
					}

					#errorText {
						position: absolute;
						top: 40%;
						left: 15%;
					}

@keyframes finalScreen { 
	100% { opacity: 1; }
}
#finalScreen p {
	animation: bootingScreen .5s forwards;
}
#finalScreen p:nth-child(1) {
	animation-delay: 3s;
}
#finalScreen p:nth-child(2) {
	animation-delay: 4s;
}
#finalScreen p:nth-child(3) {
	animation-delay: 4s;
}
#finalScreen p:nth-child(4) {
	animation-delay: 7s;
}
#finalScreen p:nth-child(5) {
	animation-delay: 10s;
}
#finalScreen p:nth-child(6) {
	animation-delay: 10.5s;
}
#finalScreen p:nth-child(7) {
	animation-delay: 13s;
}
#finalScreen p:nth-child(8) {
	animation-delay: 16s;
}
#finalScreen p:nth-child(9) {
	animation-delay: 17.5s;
}
#finalScreen p:nth-child(10) {
	animation-delay: 18.5s;
}
#finalScreen p:nth-child(11) {
	animation-delay: 19s;
}
#finalScreen p:nth-child(12) {
	animation-delay: 19.5s;
}
#finalScreen p:nth-child(13) {
	animation-delay: 21s;
}


					#finalScreen {
						display: none;
						content: "";
						background-color: #171717;
						animation: flicker .005s infinite;
						overflow: auto;
						align-content: center;
						justify-content: center;
						border-bottom-right-radius: 25px;
						border-bottom-left-radius: 25px;
						border-top-right-radius: 1vw;
						border-top-left-radius: 1vw;
						width: 90vw;
						height: 70vh;
					}

					#finalScreen p {

						line-height: 4px;
						margin-bottom: 5px; 
						font-size: 1.5vw;
						text-align: center;
						color: white;
						opacity: 0;
					}

					#finalScreen::before {
						animation: fadeIn("slow");
					}

					#finalScreen::after {
						animation: finalScreen;
						animation-iteration-count: 1;
					}

					#finalText {
						padding-top: 5vw;
					}

					#finaleEingabe {
							outline: none;
							font-family: ChiKareGo;
							font-size: 0.9em;
					}
}