@font-face {
  font-family: "ChiKareGo";
  src: url("schrift/ChiKareGo.ttf") format("truetype");
}

html {
	font-family: ChiKareGo;
	background-color: black;
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	text-align: center;
}


.inhalt {

    content: " ";
	animation: flicker .005s infinite;
	overflow: auto;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 1vw;
	border-top-left-radius: 1vw;
	width: 90vw;
	height: 70vh;
	background-image: url("icons/background.png");
  	background-repeat: repeat;

}

.inhalt img {
	width: auto;
	height: 4vw;
	margin-bottom: 0.2em;
}

#navileiste {
	border-top-right-radius: 1vw;
	border-top-left-radius: 1vw;
	border-bottom: 1px solid black;
	background: white;
	height: 2vw;
	top: 0px;
	width: 100%;
	position: relative;
}

				#naviLogo {
					display: inline-block;
					position: fixed;
					left: 6%;
					padding: 0.3vw;
					height: auto;
					width: 1.1%;
				}

				#datum {
					position: absolute;
					right: 3%;
					margin: 0 0 0 0;
					top: 20%;
					color: black;
					font-size: 1.5vw;
				}

				#timer {
					position: absolute;
					right: 10%;
					margin: 0 0 0 0;
					top: 20%;
					color: black;
					font-size: 1.5vw;
				}

#browserHeader {
	border-bottom: 1px solid black;
	background: url("icons/browser_back.png") 0 50% repeat-x;
	height: 2vw;
	position: relative;
}

					a {
						font-size: 1em;
						text-decoration: inherit;
						color: black;
						padding: 0.1em 0.5em 0.1em 0.5em;
						background-color: white;
						position: absolute;
					  	top: 50%;
					  	-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

					span {
						color: black;
						font-size: 1em;
						padding: 0.1em 1em 0.1em 1em;
						background-color: white;
						position: absolute;
					  	top: 50%;
					  	left: 39%;
					  	-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

					#block {
						position: absolute;
						top: 50%;
						right: 0%;
						padding: 1em 0.2em 0.025em 1em;
						background-color: white;
						-ms-transform: translateY(-50%);
					  	transform: translateY(-50%);
					}

#ordnerName {
	position: relative;
	background-color: white;
	margin: 1 1 1.5em 1;
	left: 0;
}

.ordnereins {
	position: fixed;
  	bottom: 60vh;
  	right: 45vw;
}

					#einsoeffnen {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 50vw;
						bottom: 50vh;
						width: 40vw;
						height: 30vh;
					}

						#einsClose, #zweiClose, #zweipunkteinsClose {
							position: absolute;
							left: 0px;
						}

					#fotooeffnen {
						display: none;
						position: absolute;
						background-color: white;
						left: 40vw;
						top: 30vh;
						width: 35vw;
						height: 35vh;
					}

					#fotooeffnen a {
						left: 0;
					}

					#alphabet {
						max-width: auto;
						height: 25vh;
						}

					#informationeins {
						display: none;
						position: fixed;
						background-color: none;
						left: 60vw;
						top: 20vh;
						width: 20vw;
						height: 25vh;
					}

					#foto {
						position: absolute;
						left: 5%;
						bottom: 5%;
					}

					#readMe {
						position: absolute;
						right: 40%;
						top: 20%;
					}

.ordnerzwei {
	position: fixed;
	bottom: 60vh;
	right: 20vw;
}

					#passwordzwei {
						color: black;
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none; 
						position: fixed;
						width: 30vw;
						height: 15vh;
						right: 40vw;
						bottom: 52vh;
						overflow: hidden;
						background-color: white;


						
					}

					#partitioned {
						width: 18vw;
						max-width: 100%;
						border: 0;
						outline: none;
				  		position: sticky;
				  		padding-left: 2.5vw;
				  		font-size: 2vw;
						letter-spacing: 2.05em;
						background-image: linear-gradient(to left, black 50%, rgba(255, 255, 255, 0) 0%);
						background-position: bottom;
						background-size: 5vw 1px;
						background-repeat: repeat-x;
						background-position-x: 4vw;

					}

						#textdatei {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						position: fixed;
						background-color: white;
						right: 30vw;
						bottom: 20vh;
						width: 40vw;
						height: 20vh;
					}

					#textHinweis {
						padding: 2vw 2vw 2vw 2vw;
						}


.google {
	position: fixed;
  	bottom: 40vh;
  	right: 15vw;
}

					#googleBrowser {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 50vw;
						bottom: 50vh;
						width: 40vw;
						height: 30vh;
					}

					#googleBrowser a {
						left: 0;
					}

						#leet {
						display: none;
						position: fixed;
						background-color: none;
						right: 50vw;
						bottom: 30vh;
						width: 40vw;
						height: 30vh;
					}

						#falsch {
						display: none;
						position: fixed;
						background-color: none;
						right: 50vw;
						bottom: 30vh;
						width: 40vw;
						height: 30vh;
					}

.chat {
	position: fixed;
  	bottom: 20vh;
  	right: 15vw;
}

					#chatbox a {
						left: 0;
					}

					#chatbox {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						width: 20vw;
						height: 40vh;
						bottom: 30vh;
				  		right: 40vw;
				  		text-align: left;
				  		overflow:scroll;
					}



					#userBox {
						position: fixed;
						bottom: 30%;
						width: 20vw;
						height: 3vh;
						font-family: ChiKareGo;
						color: white;
						font-size: 1em;
						justify-content: center;
						background-color: black;
						outline: none;
						border: 0;
					}


					#chatInhalt {
						padding-left: 1vw ;
				  		text-overflow: ellipsis;
					}

.deactivate {
	position: fixed;
  	bottom: 20vh;
  	right: 75vw;
}
					#passwordDeaktivieren a {
						left: 0;
					}

					#passwordDeaktivieren {
						border-radius: 5px;
						box-shadow: 1px 1px 1px black;
						display: none;
						position: fixed;
						background-color: white;
						right: 40vw;
						bottom: 52vh;
						width: 250px;
						height: 80px;
					}

					#finale {
						position: fixed;
						background-color: white;
						right: 30vw;
						bottom: 45vh;
						width: 40vw;
						height: 20vh;
					}


@keyframes flicker {
    0% {
        opacity:.92
    }

    5% {
        opacity:.92
    }

    10% {
        opacity:.94
    }

    15% {
        opacity:.90
    }

    20% {
        opacity:.80
    }

    25% {
        opacity:.98
    }

    30% {
        opacity:.93
    }

    35% {
        opacity:.92

    }

    40% {
        opacity:.90
    }

    45% {
        opacity:.94
    }

    50% {
        opacity:.92
    }

    55% {
        opacity:.91
    }

    60% {
        opacity:.92
    }

    65% {
        opacity:.93
    }

    70% {
        opacity:.99
    }

    75% {
        opacity:.98
    }

    80% {
        opacity:.91
    }

    85% {
        opacity:.91
    }

    90% {
        opacity:.97
    }

    95% {
        opacity:.99
    }

    100% {
        opacity:.99
    }
}


.inhalt::after {
	animation: flicker .15s infinite;
    content: " ";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, .08);
    opacity: 0;
    z-index: 10;
    pointer-events:none
}
}